<!DOCTYPE html>
<html lang="en">

<head>
  <title>Option Dashboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <script
    src="https://cdn.jsdelivr.net/npm/lightweight-charts@4.1.1/dist/lightweight-charts.standalone.development.js"></script>
  <link rel="icon" href="data:;base64,ivBORw0KGgo=">
</head>

<body>
  <div class="dashboard-container">
    <div id="controls-section">
      <div class="controls">

        <div class="top-control-bar">

          <select id="symbol-select">

            <option value="NIFTY">NIFTY</option>

            <option value="BANKNIFTY">BANKNIFTY</option>

            <option value="SENSEX">SENSEX</option>

            <option value="FINNIFTY">FINNIFTY</option>

          </select>



          <input type="number" id="base-strike" placeholder="Base Strike" value="26100">



          <input type="number" id="num-strikes" placeholder="No. of Strikes" value="10" min="1" step="1">



          <button id="update-btn" onclick="updateStrikes()">Update</button>

        </div>

        <div class="table-section">
          <table id="optionChainTable">
            <thead>
              <tr class="header-row">
                <th>CE Diff(%)</th>
                <th>CE Diff</th>
                <th>Curr CE</th>
                <th>Prev CE</th>
                <th>CE Strike</th>
                <th>PE Strike</th>
                <th>Prev PE</th>
                <th>Curr PE</th>
                <th>PE Diff</th>
                <th>PE Diff(%)</th>
                <th>Total Diff</th>
                <th>Total Diff(%)</th>
              </tr>
            </thead>
            <tbody id="chainBody">
            </tbody>
            <tfoot>
              <tr id="totalRow" class="footer-row">
                <td id="total-ce-diff-pct">--</td>
                <td id="total-ce-diff">--</td>
                <td id="total-curr-ce">--</td>
                <td id="total-prev-ce">--</td>
                <td colspan="2">TOTAL</td>
                <td id="total-prev-pe">--</td>
                <td id="total-curr-pe">--</td>
                <td id="total-pe-diff">--</td>
                <td id="total-pe-diff-pct">--</td>
                <td id="total-diff">--</td>
                <td id="total-diff-pct">--</td>
              </tr>
            </tfoot>
          </table>
        </div>


        <div class="action-buttons">
          <button class="fire-btn" onclick="fireOrders()">FIRE</button>
          <button class="close-btn" onclick="closeAll()">CLOSE ALL</button>
          <button class="hedge-btn" onclick="fireHedge()">HEDGE</button>
        </div>

        <div id="mtm-display">MTM: <span id="mtm-value">0.00</span></div>
      </div>
    </div>

    <div id="chart-section">
      <div id="chart-container"></div>
    </div>
  </div>
  <script src="/static/dashboard.js"></script>
</body>

</html>
