[Unit]
Description=FastAPI Power Option
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/trader/no_venv/power-option/src
Environment="PATH=/home/trader/no_venv/venv/bin"
ExecStart=/home/trader/no_venv/venv/bin/python -m uvicorn main:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=5
StandardOutput=append:/home/trader/no_venv/power-option/data/log.txt
StandardError=append:/home/trader/no_venv/power-option/data/log.txt

[Install]
WantedBy=default.target