body {
  margin: 0;
  padding: 10px; 
  background-color: #f0f2f5; 
  color: #1a1a1b;            
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden; /* Prevent body scroll */
  font-size: 13px;
}

.dashboard-container {
  display: flex;             
  flex-direction: row;       
  width: 100%;
  height: 100%;             
  overflow: hidden;          
}

.controls {
  width: 750px; /* Keep it wide for the 12 columns */
  min-width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.top-control-bar {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-bottom: 10px;
  width: 100%;
}

.top-control-bar select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.top-control-bar input {
  width: 73px;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn {
  flex: 0 0 auto;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #495057;
}
#btn:hover { background-color: #343a40; }

.fire-btn { background-color: #9c27b0;  }
.hedge-btn { background-color: #ff9800; }

.table-section {
  flex-grow: 1;
  overflow-x: auto; /* Horizontal scroll for table only */
  overflow-y: auto; /* Vertical scroll for strikes */
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  text-align: right
}

th, tfoot {
  background-color: #343a40; 
  color: #ffffff;
  padding: 8px 4px;
  position: sticky; /* Keep headers at top */
}

td {
  padding: 8px 4px;
  border: 1px solid #dee2e6;
}


/* 4) Chart Section - Fills the rest */
#chart-section {
  flex-grow: 1;      
  height: 100%;      
  background-color: #ffffff;
  position: relative;
}

#chart-container {
  width: 100%;       
  height: 100%;      
}
